@page "/Home"

@attribute [PageInfo(Perfilable = false)]
@using PlantillaBlazor.Domain.Entities.GaiaCaporal
@using PlantillaBlazor.Domain.Entities.Parametrizacion
@using PlantillaBlazor.Domain.Entities.Perfilamiento
@using PlantillaBlazor.Services.Interfaces.GaiaCaporal
@using PlantillaBlazor.Services.Interfaces.Parametrizacion
@using PlantillaBlazor.Services.Interfaces.Perfilamiento

@inject IUsuarioService _userService
@inject IGaiaCaporalService _gaiaCaporalService
@inject IParametroGeneralService _parametroGeneralService
@inject ILogger<Home> _logger

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Productos</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Gaia</a></li>
                    <li class="breadcrumb-item active">Productos</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-3 col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <h5 class="fs-16">Filters</h5>
                    </div>
                    <div class="flex-shrink-0">
                        <a href="/Home" class="text-decoration-underline" id="clearall">Borrar todo</a>
                    </div>
                </div>

                <div class="filter-choices-input">
                    <input class="form-control" data-choices="" data-choices-removeitem="" type="text"
                           id="filter-choices-input" value="Busca tus productos">
                </div>
            </div>

            <div class="accordion accordion-flush filter-accordion">

                <div class="card-body border-bottom">
                    <div>
                        <p class="text-muted text-uppercase fs-12 fw-medium mb-2">Productos</p>
                        <ul class="list-unstyled mb-0 filter-list">
                            <li>
                                <a href="#" class="d-flex py-1 align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="fs-13 mb-0 listname">Verduras</h5>
                                    </div>
                                    <div class="flex-shrink-0 ms-2">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex py-1 align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="fs-13 mb-0 listname">Frutas</h5>
                                    </div>
                                    <div class="flex-shrink-0 ms-2">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex py-1 align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="fs-13 mb-0 listname">Lacteos</h5>
                                    </div>
                                    <div class="flex-shrink-0 ms-2">
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-xl-9 col-lg-8">
        <div>
            <div class="card">
                <div class="card-header border-0">
                    <div class="row g-4">
                       
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control" id="searchProductList"
                                           placeholder="Buscar productos...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link text-body active fw-semibold" data-bs-toggle="tab"
                                       href="#productnav-all" role="tab" aria-selected="true">
                                        Todos los productos
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end card header -->
                <div class="card-body">
                    <div class="tab-content text-muted">
                        <div class="tab-pane active" id="productnav-all" role="tabpanel">
                            <div id="table-product-list-all" class="table-card gridjs-border-none">
                                <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                                    <div class="gridjs-wrapper" style="height: auto;">
                                        <table role="grid" class="gridjs-table" style="height: auto;">
                                            <thead class="gridjs-thead">
                                                <tr class="gridjs-tr">
                                                    <th data-column-id="#" class="gridjs-th gridjs-th-sort text-muted" tabindex="0" style="width: 40px;">
                                                        <div class="gridjs-th-content">#</div>
                                                    </th>
                                                    <th data-column-id="product" class="gridjs-th gridjs-th-sort text-muted" tabindex="0" style="width: 360px;">
                                                        <div class="gridjs-th-content">Producto</div>
                                                    </th>
                                                    <th data-column-id="stock" class="gridjs-th gridjs-th-sort text-muted" tabindex="0" style="width: 94px;">
                                                        <div class="gridjs-th-content">Stock</div>
                                                    </th>
                                                    <th data-column-id="price" class="gridjs-th gridjs-th-sort text-muted" tabindex="0" style="width: 101px;">
                                                        <div class="gridjs-th-content">Precio</div>
                                                    </th>
                                                    <th data-column-id="rating" class="gridjs-th gridjs-th-sort text-muted" tabindex="0" style="width: 105px;">
                                                        <div class="gridjs-th-content">Calificación</div>
                                                    </th>
                                                    <th data-column-id="published" class="gridjs-th gridjs-th-sort text-muted" tabindex="0" style="width: 220px;">
                                                        <div class="gridjs-th-content">Publicado</div>
                                                    </th>
                                                    <th data-column-id="action" class="gridjs-th gridjs-th-sort text-muted" tabindex="0" style="width: 220px;">
                                                        <div class="gridjs-th-content"></div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="gridjs-tbody">
                                                @if (_productos != null)
                                                {
                                                    foreach (var producto in _productos)
                                                    {
                                                        <tr class="gridjs-tr">
                                                            <td data-column-id="#" class="gridjs-td">
                                                                <span>
                                                                    <div class="form-check checkbox-product-list">
                                                                        <input class="form-check-input" type="checkbox" value="1" id="checkbox-@producto-Id">
                                                                        <label class="form-check-label" for="checkbox-@producto.Id"></label>
                                                                    </div>
                                                                </span>
                                                            </td>
                                                            <td data-column-id="product" class="gridjs-td">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="flex-shrink-0 me-3">
                                                                        <div class="avatar-sm bg-light rounded p-1">
                                                                            <img src="@producto.FotoUrl" alt="Sin imagen" style="width: 60px; height: 60px; object-fit: cover;" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-grow-1">
                                                                        <h5 class="fs-14 mb-1">
                                                                            <a href="apps-ecommerce-product-details.html" class="text-body">
                                                                                @producto.NombreProducto
                                                                            </a>
                                                                        </h5>
                                                                        <p class="text-muted mb-0">
                                                                            Categoría : <span class="fw-medium"> @_categorias.ListaParametrosDetallados.FirstOrDefault(_ => _.Id == producto.IdCategoria)?.Nombre</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td data-column-id="stock" class="gridjs-td">@producto.StockDisponible</td>
                                                            <td data-column-id="price" class="gridjs-td">
                                                                <span>@producto.CostoUnitario?.ToString("C")</span>
                                                            </td>
                                                            <td data-column-id="rating" class="gridjs-td">
                                                                <span class="badge bg-light text-body fs-12 fw-medium">
                                                                    <i class="mdi mdi-star text-warning me-1"></i>4.2
                                                                </span>
                                                            </td>
                                                            <td data-column-id="published" class="gridjs-td">
                                                                <span>@producto.FechaAdicion</span>
                                                            </td>
                                                            <td data-column-id="action" class="gridjs-td">
                                                                <a href="/carrito">Agregar al carrito</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="gridjs-temp" class="gridjs-temp"></div>
                                </div>
                            </div>
                        </div> <!-- end tab pane -->
                    </div> <!-- end tab content -->
                </div> <!-- end card body -->
                <!-- end tab content -->
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->

@code{
    private bool _isLoading = true;

    private RadzenDataGrid<Producto> _productosGrid;

    [CascadingParameter]
    protected UserSession? UserSession { get; set; }

    private IEnumerable<Usuario> _mercados;
    private IEnumerable<Producto> _productos;

    private ParametroGeneral _categorias;
    private Producto _productoToInsert;
    private Producto _productoToUpdate;

    private IEnumerable<long> _selectedCategoriaIds;
    private IEnumerable<long> _selectedMercadoIds;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                await LoadData();
            }
        }
        catch (Exception exe)
        {
            _logger.LogError(exe, "Error al consultar usuarios");
            await _jsRuntime.NotiflixNotifyAlert("Error interno del servidor", NotiflixMessageType.failure);
        }
    }

    private async Task LoadData()
    {
        _isLoading = true;
        StateHasChanged();

        await Task.Yield();

        var tCategorias = _parametroGeneralService.ConsultarParametroGeneralById(2);
        var tMercados = _userService.GetUsuarios();
        var tProductos = _gaiaCaporalService.GetProductos();

        await Task.WhenAll(tCategorias, tMercados, tProductos);

        _categorias = await tCategorias;
        _productos = await tProductos;
        _mercados = await tMercados;

        _productos = _productos.OrderByDescending(u => u.FechaAdicion);

        _isLoading = false;
        StateHasChanged();
    }
}

